<h1>Welcome to Mardi Paws!</h1>
<p>Where you can jazz up your doggies like it's Mardi Gras...</p>

<% if params[:cat_id] %>
  <h1>All <%= @category.name.capitalize %></h1>
<% else %>
  <h1>All Mardi Paws Products</h1>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag product.avatar.url(:medium) %>
          <a href="#" data-toggle="modal" data-target="#product-<%= product.id %>-modal">
            <span class="pull-right text-right">
              <h5><%= number_to_currency product.current_price %></h5>
              <%= button_to 'Add to Cart', line_items_path(product_id: product, class: 'btn btn-primary btn-sm') %>
            </span>
            <h5><%= product.name %></h5>
            <small>quick info</small>
          </a>
        </div>
      </div>
    </div>

<!-- Modal -->
   <div class="modal fade" id="product-<%= product.id %>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4><%= product.name %> <small><%= product.brand.try(:name) %></small></h4>
           <p>
             <%= image_tag product.avatar.url(:large) %>
           </p>
           <p><%= product.description %></p>
           <h5><%= number_to_currency product.current_price %></h5>
           <%= button_to 'Add to Cart', line_items_path(product_id: product, class: 'btn btn-primary btn-sm') %>
         </div>
       </div>
     </div>
   </div>
<% end %>